@media (min-width: 992px) {
  .about-separation {
    display: none;
  }
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 165px;
  height: 45px;
  margin: 30px 0;
}

.about-btn p {
  font-size: 12px;
  padding: 15px 5px;
}

.about-btn img {
  height: 19px;
}

.about-btn-looking {
  border: #95a379 2px solid;
}

.about-btn-shops,
.about-btn-recipes {
  background-color: #95a379;
  border: #95a379 2px solid;
  color: white;
}

.about-btn-shops p,
.about-btn-recipes p {
  color: white;
}

.about a,
.about-shop a {
  text-decoration: none;
}

hr {
  width: 420px;
  margin: auto;
  background-color: #95a37982;
  height: 1.5px;
  border: none;
  border-radius: 10px;
}

.about-recipes h2,
.about-discover h2 {
  padding-top: 25px;
}

.about-title h2 {
  padding-left: 30px;
}

.about-btn-shop {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

.about-recipes {
  background-color: hsla(29, 64%, 91%, 0.15);
  padding: 20px 0;
}
