@media (max-width: 992px) {
  .header-button-language,
  .header-button-stars {
    display: none;
  }
}

@media (min-width: 992px) {
  header h1 {
    font-size: 58px;
    margin-top: 220px;
  }
  header br {
    display: none;
  }
  header .header-button-stars {
    padding-bottom: 186px;
  }
}

h1 {
  font-family: "Satoshi";
  font-weight: 700;
  font-size: 32px;
  opacity: 0.9;
  font-size: 32px;
  letter-spacing: -0.83px;
  text-align: center;
  padding: 100px 0 10px;
  margin-bottom: 55px;
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: #fff5d7;
}

.header-logo img {
  height: 25px;
  justify-content: center;
}

.header-burger-menu {
  height: 25px;
}

.header-nav-mobile {
  padding: 15px 21px 11px;
  position: fixed;
  z-index: 5;
  height: 55px;
  width: 100%;
}

.bgColor {
  background: #fff5d7ef;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.03);
}

.header-button-language {
  font-family: "satoshi";
  font-weight: 700;
  font-size: 16px;
  color: #95a379;
  letter-spacing: -0.42px;
}

.header-button-language a {
  text-decoration: none;
  color: #4d604a;
}

.header-button-language a:hover {
  text-decoration: none;
  color: #95a379;
}

.header-button-stars img {
  height: 49px;
  padding: 0 20px;
  margin-bottom: 150px;
}

.header-button-stars a {
  text-decoration: none;
}
