@media (max-width: 992px) {
  .product-desktop-img img {
    display: none;
  }

  .product-img {
    padding-bottom: 25px;
  }
  .product-reversed {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 992px) {
  .product-text-right {
    position: relative;
    left: 70px;
    margin-right: 130px;
  }

  .product-text-left {
    position: relative;
    left: 70px;
    margin-right: 130px;
  }

  .product-soda-container {
    display: flex;
    flex-direction: row;
  }
  .product {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-reversed p {
    position: relative;
    left: 0px;
  }
}
h2,
p {
  padding: 0 32px;
}

h2 span {
  font-family: "semplicitapro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #95a379;
  letter-spacing: 5.06px;
}

p {
  font-size: 18px;
  color: #4d604a;
  padding-top: 14px;
}

.product-desktop-img {
  display: flex;
  flex-direction: row;
}
